@font-face {
  font-family: "Meslo";
  src: local("Meslo Bold"),
  url("~@/assets/fonts/recmd/Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Meslo";
  src: local("Meslo Bold Italic"),
  url("~@/assets/fonts/recmd/BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Meslo";
  src: local("Meslo Italic"),
  url("~@/assets/fonts/recmd/Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Meslo";
  src: local("Meslo Regular"),
  url("~@/assets/fonts/recmd/Regular.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}